.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Custom Loader*/
.customLoader {
  position: absolute;
  margin-left: 500px;
  top: 59px;
}

/*grid kenben list View Icons styling
 Style for the view icons container*/

.view-icons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

/* Style for each view icon */
.view-icon {
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.5em;
  color: #555;
  transition: color 0.3s ease;
}

.view-icon.active {
  color: #ff3054db; /* Change this color to the active color you prefer */
}


/*G,K,L*/

/* For kenben View */
.kenben-view .card{
  width: 290px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  background-color: #ffe2e2;
}

.kenben-column {
  flex: 0 0 auto;
  width: 50%; /* Adjust the width as needed */
  margin-right: 15px;
}

.kenben-scroll-container {
  max-height: 300px; /* Adjust the max-height as needed */
  overflow-y: auto;
}



/* For Grid View */
.grid-view {
 
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

/*  styles for Product Card Grid View*/
.grid-view .card {
  /* Add styles for the card, e.g., set a maximum width */
  width: 410px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the card within the container */
  background-color: #f0dddd;
}


/*list view*/
.list-view-element .card{
  background-color: #f0dddd;
}
.list-view-element .have {
    display: flex;
    margin: auto;
    height: 140px;
    
    
  }
  
  .list-view-element .have .cd {
    width: 100px;
    height: 100px; 
    margin-right: 10px; 
    
  }
  
  .list-view-element .have .card_body {
    display: flex;
    float: left;
    flex-direction: column;
    width: 100% ; 
    
  }
  
.list-view-image-one{
    max-width: 120px;
    max-height: 120px;
    border: 2px solid #000;
    left: 7px;
    position: relative;
    border-radius: 30px;
   
  }
  .list-view-img{
    
    margin-bottom: 20px;
    margin-left:130px ;
    margin-right:100px; 
    position: absolute;
    top: 105px;
    left: 136px;
    max-width: 50px;
    max-height: 50px;
    
  }
  .list-view-h4{
    margin-left: 100px;
    position: absolute;
    top: 25px;
    left: 50px;
    
    
    
  }
  .list-view-span-one{
    position: absolute;
    
    top: 30px;
    left: 820px;
  }

  .list-view-h5{
    margin-left: 100px;
    position: absolute;
    top: 70px;
    left: 50px;
    
  }
  .list-view-span{
  
  margin-left: 640px;
  position: absolute;
  top: 67px;
  left: 160px;
  background-color: #a09494;
  }
  
  .list-view-extra{
   margin-top: 10px;
  }
  .list-view-button{
    position: absolute;
    margin-left: 350px;
    top: 100px;
    left: 95px;
    
  }
  
  
  .list-view-stock{
    position: absolute;
    margin-bottom: 10px;
    margin-left: 710px;
    left: 100px;
    top: 100px;
    
  }

/* Adjust the styling based on your preferences */
/*grid and kenben view styling*/

.lower_data{
  display: flex;
  justify-content: space-between;
}
.upper_data{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.last_data{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addcard{
  color: blueviolet;
  width: 150px;
  background-color: #ff3054db;
  margin-left: 32px;
}
.have{
  border:none ;
}



/*style.css file css styling as it was in video as separate file*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}

.hove{
    border-radius: 10px;
    cursor: pointer;
}

.hove:hover{
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    transition: .2s;
}

.cd{
    border-radius: 16px;
    margin-top: 20px;
    height: 16rem;
}

.upper_data h4{
    font-size: 18px;
    color: rgba(17,17,17,0.849);
    letter-spacing: .5px;
    /* font-weight: bold; */
    
    margin-right: 80px;
}

.upper_data span{
    background-color: rgb(36,150,63);
    border-radius: 6px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 1px;
    width: 45px;
    
}

.lower_data h5{
    font-size: 15px;
letter-spacing: .4px;
font-weight: 400;
color:rgba(17,17,17,0.849) ;
font-weight: bold;
}

.lower_data span{
    font-size: 15px;
    letter-spacing: .4px;
    color:rgba(17,17,17,0.849) ;
    font-weight: bold;
}

.extra{
    border-bottom: 1px solid rgba(17,17,17,0.449);
}

.last_data .limg{
    max-width: 50px;
    max-height: 50px;
}

.last_data p{
    font-size: 14px;
    margin-top: 18px;
    letter-spacing: .2px;
    color: rgba(17,17,17,0.849);
}

.last_data .laimg{
    width: 45px;
}

#ex4 .p1[data-count]:after{
    position:absolute;
    right:10%;
    top:8%;
    content: attr(data-count);
    font-size:40%;
    padding:.2em;
    border-radius:50%;
    line-height:1em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width: 18px;
  }

  #ex4 .fa-stack{
    width: 1.5em;
  }

@media (max-width:600px){
    .con{
        flex-direction: column;
        align-items: center;
    }
    .last_data p{
        font-size: 12px;
    }
   
}

/*cart icon and its NavLinkstyling*/

.navbar-link {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    transition: color 0.3s linear;
  }

  &:hover{
    color: #919cb3;
  }
  &:active {
    color:#fff

  }
}
.cart-trolley--link {
  position: relative;

  .cart-trolley {
    position: relative;
    font-size: 2.5rem;
  }

  .cart-total--item {
    /* width: 3.2rem;
    height: 2.4rem; */
    width: 2.8rem;
    height: 2.4rem;
    position: absolute;
    
    color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    top: -20%;
    left: 70%;
    
  }
}


/* Styling for the modal */

.Productmodal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 61px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto; /* Add this line to enable scrolling for the entire modal */
}


.Productmodal-content {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 80vh; /* Set a fixed height for the modal content */
  width: 100%;
  overflow-y: auto; /* Add this line to enable vertical scrolling for the modal content */
}

/* Additional styling for the h2 and input inside the modal content */
.Productmodal-content h2 {
  margin-bottom: 10px;
}

.Productmodal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.Productmodal-content Form {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
}

/*Product Modal List View styling*/
.ModalList-view-image-one{
  max-width: 70px;
  max-height: 80px;
  border: 2px solid #000;
  left: 7px;
  position: absolute;
  top: 15px;
  border-radius: 5px;
 
}

.ModalListcd{
  border-radius: 10px;
  height: 18rem;
}

.ModalList-view-element .card{
  background-color: #e7e3e3;
  height:100px;
}

.ModalList-view-h4{
  margin-left: 40px;
  position: absolute;
  top: 12px;
  left: 40px;
  display: 'inline-block';
  max-width: 200px; 
  overflow: hidden;
  white-space: 'nowrap';
  text-overflow:ellipsis;

   
}
.ModalList-view-span-one{
  position: absolute;
  margin-left: 72px;
  top: 67px;
  left: 10px;
}

.ModalList-view-h5{
  margin-left: 60px;
  position: absolute;
  top: 45px;
  left: 20px;
}

.ModalList-view-span{
  
  margin-left: 250px;
  position: absolute;
  top: 20px;
  left: 100px;
  
}
.ModalList-view-img{
    
  margin-left:450px ; 
  position: absolute;
  top: 8px;
  left: 200px;
  max-width: 30px;
  max-height: 30px;
  
}
.ModalList-view-button{
  position: absolute;
  margin-left: 230px;
  top: 50px;
  left: 100px;
}

.ModalList-view-stock{
  position: absolute;
  margin-bottom: 10px;
  margin-left: 600px;
  left: 225px;
  top: 10px;
}